{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Policy</title>
    <link rel="icon" href="{% static '../static/images/iconss.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="description" content="Printf is providing free printouts to the student of Amity University
    Patna. Get high-quality printouts delivered to your doorsteps in no time!">
    <meta name="robots" content="index, archive">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container m5 my-4">
        <h2 class=""> <strong>Shipping & Delivery Policy</strong></h2>
        <p>Last updated on Feb 26th 2023</p>

        <p>Our products are shipped within 24 hours and will be delivered within 1 or 2 working days. Please note that our return policy does not apply.</p>

        <p>QUESTIONS<br>
        If you have any questions concerning our Shipping &amp; Delivery Policy, please contact us at:<br>
        officials.ankitsingh@gmail.com</p>
        
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
</body>
</html>